<div class="app-layout">
  <button class="burger-toggle" [class.burger-closed]="!isMenuOpen" (click)="toggleMenu()">
  <span class="material-symbols-outlined">
    {{ isMenuOpen ? 'close' : 'menu' }}
  </span>
</button>

  <aside class="side-panel" [class.open]="isMenuOpen">

    <div class="side-actions">
    
      <button (click)="counterService.exportJson()">
        <span class="material-symbols-outlined">download</span> Exporter
      </button>
      <label class="btn-import">
        <span class="material-symbols-outlined">upload</span> Importer
        <input type="file" (change)="onFileSelected($event)" style="display:none">
      </label>
      
      <button class="btn-add-group" (click)="counterService.addGroup()">
        <span class="material-symbols-outlined">add_circle</span> Nouveau Groupe
      </button>

      

    </div>

    <nav class="group-nav" cdkDropList (cdkDropListDropped)="dropGroup($event)">
      @for (group of groups(); track group.id) {
        <div class="group-nav-item" 
             [class.active]="selectedGroupId() === group.id"
             (click)="selectGroup(group.id)"
             cdkDrag>
          <span class="material-symbols-outlined nav-handle" cdkDragHandle>drag_indicator</span>
          <span class="nav-name">{{ group.name }}</span>
          
          <div class="nav-ops">
            <button type="button" (click)="onDuplicateGroup($event, group)">
              <span class="material-symbols-outlined">content_copy</span>
            </button>
            <button (click)="deleteGroup(group.id, $event)" class="del-btn">
              <span class="material-symbols-outlined">delete</span>
            </button>
          </div>
        </div>
      }
    </nav>
  </aside>

  @if (isMenuOpen) { <div class="sidebar-overlay" (click)="toggleMenu()"></div> }

  <main class="main-content">
    @if (selectedGroup(); as group) {
      <div class="content-header">
        <div class="content-header">
          <input [(ngModel)]="group.name" class="editable-title" placeholder="Nom du groupe">
          
          <button class="btn-add-icon" (click)="counterService.addCounter(group.id)" title="Ajouter un compteur">
            <span class="material-symbols-outlined">add</span>
          </button>
        </div>
      </div>

      <div class="counter-grid" cdkDropList (cdkDropListDropped)="dropCounter($event, group)">
        @for (counter of group.counters; track counter.id) {
          <div class="counter-card" cdkDrag>
            <div class="counter-top">
              <span class="material-symbols-outlined handle" cdkDragHandle>drag_indicator</span>
              <input [(ngModel)]="counter.title">
              <button type="button" class="btn-icon" (click)="onDuplicateCounter($event, group.id, counter)">
                <span class="material-symbols-outlined">content_copy</span>
              </button>
            </div>
            
            <div class="counter-body">
              <button (click)="counter.value = counter.value - 1" class="btn-val">
                <span class="material-symbols-outlined">remove</span>
              </button>
              <span class="counter-value">{{ counter.value }}</span>
              <button (click)="counter.value = counter.value + 1" class="btn-val">
                <span class="material-symbols-outlined">add</span>
              </button>
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="welcome-screen">
        <span class="material-symbols-outlined" style="font-size: 4rem; margin-bottom: 20px;">arrow_back</span>
        <p>Sélectionnez un groupe dans le menu pour commencer</p>
      </div>
    }
  </main>
</div>